html
	head
		title Code &amp; Craft - Grapevine Dashboard
		style.
			html, body {
				font-size : 24px;
				font-family : sans-serif;
				font-weight : bold;
			}
	body
		main
			h1 Grapevine Dashboard
			grid 
			
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
		script(src="/interconnected/dashboard.js")
