html
	head
		title Code &amp; Craft - Grapevine Dashboard
		style.
			* {
				box-sizing: border-box;
			}
			html, body {
				font-size : 24px;
				font-family : sans-serif;
				font-weight : bold;
			}


			.grid {
				display: flex;
				flex-wrap : wrap;
				//- justify-content: space-around;
				//- align-items: left;
				//- align-content: stretch;
			}

			.item {
				flex: 0 0 16.6666666667%;
				max-width: 16.6666666667%;
				padding: 1rem;
				position: relative;
			}	

			.item:after {
				content: '→';
				position:absolute;
				right: -.5em;
				top: 50%;
				margin-top: -2em;
			}

			video {
				width: 100%;
			}

		script.
			// Code & Craft namespace
			window.CnC = {};
            
		script(src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js")
		script.  
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyA7-NKfTzGvNtE5lZ3V49gyV4fat7AsoOU",
				authDomain: "codeandcraft-51db3.firebaseapp.com",
				databaseURL: "https://codeandcraft-51db3.firebaseio.com",
				projectId: "codeandcraft-51db3",
				storageBucket: "codeandcraft-51db3.appspot.com",
				messagingSenderId: "489289770401"
			};
			firebase.initializeApp(config);
		script(src="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.js")
		link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.css")

		script.
			// FirebaseUI config.
			var uiConfig = {
				signInSuccessUrl: '/interconnected/glc',
				signInOptions: [
					firebase.auth.EmailAuthProvider.PROVIDER_ID
				],
				// Terms of service url.
				tosUrl: 'terms-of-service'
			};

			// Initialize the FirebaseUI Widget using Firebase.
			var ui = new firebaseui.auth.AuthUI(firebase.auth());
			
	body
		main
			#firebaseui-auth-container

			#grid.grid
		
		script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
		script(src="/interconnected/dashboard.js")
