html
    head
        title Code &amp; Craft - Gif Loop Coder
        link(rel="stylesheet" type="text/css" href="/vendor/gifloopcoder/app/styles/styles.css")
        link(rel="stylesheet" type="text/css" href="/vendor/gifloopcoder/app/styles/codemirror.css")
        
    body
        #content
        
        video(id="replay" autoplay loop)
        
        script.
            glcConfig = {
                externalEditor: false,
                useTabs: false,
                canvasWidth: 400,
                canvasHeight: 400,
                canvasCanScale: true
            };
    
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
        script(type="text/javascript" src="/vendor/gifloopcoder/app/glc-min.js")
        script(type="text/javascript" src="/js/socketHandler.js")