html
	head
		title Code &amp; Craft : Interconnected

	body
			//- form#form.form(action="/grapevine/new-user" method="POST")
				input(name="username" placeholder="Enter Your Name" type="text")
				button(type="submit") Submit